*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: black;}
.header{
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    margin-top: 50px;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.header nav{
    display: flex;
    /* margin-left: 20%; */
}
.logo{
    width: 500px;
    height: 150px;
    /* border: 1px solid white; */
    margin-left: 100px;
}
.logo a img{
    width: 500px;
    height: 150px;
}
button{
    width: 160px;
    height: 60px;
    /* border: 1px solid white; */
    /* float: right; */
    /* padding: 0px 100px; */

}
.btn{
    margin-left: 90%;
    /* display: inline; */
    padding: 0px 50px;
    margin-top: 30px;
    border: 0px;
    outline: 0;
    display: flex;
}
.dropdown{
    margin-right: 10px;
    background: transparent;
    color: white;
}
.btn2{
    background-color: red;
    color: white;
}
.section h2{
    color: white;
}
.section{
    margin-top: 20%;
    font-size: 58px;   
    margin-left: -13%;
}
.section h3{
    margin-top: 20px;
    color: white;
    font-size: 30px;
    
}
.section p{
    margin-top: 30px;
    color:white;
    font-size: 30px;
    
}
.email-signup input{
    width: 900px;
    height: 64px;
    margin-left: -15%;
    margin-top: 5%;
}
.email-signup button{
    background-color: red;
    color: white;

}
.middle-section{
    font-size: 50px;
    margin-top: 5%;
    background-color: blueviolet;
    margin: 5% 5% 5% 5%;
   /* border:1px solid red;*/
    width:90%;
    height:800px;
    display:flex;
    border-radius:30px;
}
.inline{/*border:1px solid red;*/
    width:65%;
    height:250px;
    margin:280px 0 0 0
    
}
.Tv{width:40% ;
    height:450px;
    margin:175px 0 0 15px;
/*border:1px solid red}*/}
.Tv img{width:100%;
    height:500px ;
    
}
.hr{
    width: 90%;
    margin: 0 5% 0 5%;
}
.inline2{
    /*border: 1px solid red*/;
    width: 65%;
    height: 250px;
    margin: 250px 0 0 0;

    
}
.middle-section2{
    font-size: 50px;
    margin-top: 5%;
    background-color: blueviolet;
    margin: 5% 5% 5% 5%;
    /*border: 1px solid red*/;
    width:90%;
    height:800px;
    display:flex;
    border-radius:30px;
}
.Tv2{
    width:40% ;
    height:450px;
    margin:165px 0 0 15px;
/*border:1px solid red*/}
.Tv2 img{width:100%;
    height:500px ;
}
.hr2{
    width: 90%;
    margin: 0 5% 0 5%;
}
.middle-section3{
    font-size: 50px;
    margin-top: 5%;
    background-color: blueviolet;
    margin: 5% 5% 5% 5%;
    /*border: 1px solid red;*/
    width:90%;
    height:800px;
    display:flex;
    border-radius:30px;   
}
.inline3{
   /* border: 1px solid red;*/
    width: 65%;
    height: 250px;
    margin: 250px 0 0 0;
}
.Tv3{
    width:40% ;
    height:450px;
    margin:165px 0 0 15px;
   /* border: 1px solid red;*/
}
.Tv3 img{
    width:100%;
    height:500px ;
}
.hr3{
    width: 90%;
    margin: 0 5% 0 5%;
}

.middle-section4{
    font-size: 50px;
    margin-top: 5%;
    background-color: blueviolet;
    margin: 5% 5% 5% 5%;
    /*border: 1px solid red;*/
    width:90%;
    height:800px;
    display:flex;
    border-radius:30px;   
}
.inline4{
   /* border: 1px solid red;*/
    width: 65%;
    height: 250px;
    margin: 250px 0 0 0;
}
.Tv4{
    width:40% ;
    height:450px;
    margin:165px 0 0 15px;
   /* border: 1px solid red;*/
}
.Tv4 img{
    width:100%;
    height:500px ;
}
.frequently h1{
    margin-top: 5%;
    font-size: 500%;
    margin: 0 0 0 500px ;
    margin-top: 2%;
}
.frequentlya h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    width: 50%;
    height: 50px;

}
.frequentlyb h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    margin-top: 2%;
    width: 50%;
    height: 50px;

}
.frequentlyc h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    margin-top: 2%;
    width: 50%;
    height: 50px;

}
.frequentlyd h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    margin-top: 2%;
    width: 50%;
    height: 50px;


}
.frequentlye h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    margin-top: 2%;
    width: 50%;
    height: 50px;

}
.frequentlyf h1{
    font-size: 200%;
    margin: 0 0 0 500px;
    background-color: gray;
    margin-top: 2%;
    width: 50%;
    height: 50px;

}
.ready{
    margin: 0 0 0 500px;
    margin-top: 1%;
}
.email-adress input{
    width: 900px;
    height: 64px;
    margin-left: -15%;
    margin: 0 0 0 500px;
    margin-top: 1%;
}
.email-adress button{
    background-color: red;
    color: white;
}